<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_api_team_path(@team) %> |
  <%= link_to "Back to teams", api_teams_path %>

  <%= button_to "Destroy this team", api_team_path(@team), method: :delete %>
</div>
