<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @post %>

  <%= link_to "Edit this post", edit_api_v1_post_path(@post) %> |
  <%= link_to "Back to posts", api_v1_posts_path %>

  <%= button_to "Destroy this post", api_v1_post_url(@post), method: :delete %>
</div>
